#zer{
    margin-left: 25%;
    margin-right: 25%;
}
.presse img{
    width: 640px;
    height: 360px;
    border-radius: 15px;
}
.presse{
    text-align: center;

}

button:hover{
    color: white;
    background-color: black;


}